<app-header></app-header>

  <div class="card">
    <div class="card-body">
      <div class=" my-5">

        <div class="card form-control info-area">
          <p>{{ 'HOME.DESCRIPTION' | translate }}</p>
          <p>{{ 'HOME.SHAPES' | translate }}</p>
          <p>{{ 'HOME.APPROXIMATION' | translate }}</p>
          <p>{{ 'HOME.FUN' | translate }}</p>
        </div>

        <div class="col-lg-4 offset-lg-4 btn-block my-5" role="group" aria-label="Button group">
          <button type="button" class="btn-lg btn-outline-success btn-block my-0" routerLink="/selection" aria-label="Selection link">{{ 'HOME.START' | translate }}</button>
        </div>
     
      </div>
    </div>
  </div>
  